<p id="notice"><%= notice %></p>

<header class="title has-text-centered">Usuários Cadastrados</header>
<table class="table is-striped is-hoverable is-narrow is-fullwidth">
    <thead class="has-centered">
      <tr>
        <th class="has-centered">Name</th>
        <th class="has-centered">Email</th>
        <th class="has-centered">Role</th>
      </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
            </tr>
        <% end %>
    </tbody>
</table>
