<div class="container container-form-user">
  <header class="title has-text-centered">Login</header>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class:'label', for:'email'%>
      <p class="control has-icons-left has-icons-left">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input', id:'email' %>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field ">
      <%= f.label :password, class:'label', for:'password'%>
      <p class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "current-password", class:'input' %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.label :remember_me, class:'checkbox' do %>
          <%= f.check_box :remember_me, class:'checkbox' %>
          Remember me
        <%end %>
      </div>
    <%end %>
    <div class="field">
      <div class="control">
        <%= f.submit "Log in", class:'button is-success is-medium is-fullwidth' %>
      </div>
    </div>
  <% end %>
  <%= render "users/shared/links" %>
</div>
