<%= form_with(model: rent_game, local: true) do |form| %>
  <% if rent_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rent_game.errors.count, "error") %> prohibited this rent_game from being saved:</h2>

      <ul>
      <% rent_game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.text_field :game_id %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <%= form.text_field :rent %>
  </div>

  <div class="field">
    <%= form.label :week %>
    <%= form.number_field :week %>
  </div>

  <div class="field">
    <%= form.label :subtotal %>
    <%= form.text_field :subtotal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
