<p id="notice"><%= notice %></p>

<h1>Rent Games</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Rent</th>
      <th>Week</th>
      <th>Subtotal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rent_games.each do |rent_game| %>
      <tr>
        <td><%= rent_game.game %></td>
        <td><%= rent_game.rent %></td>
        <td><%= rent_game.week %></td>
        <td><%= rent_game.subtotal %></td>
        <td><%= link_to 'Show', rent_game %></td>
        <td><%= link_to 'Edit', edit_rent_game_path(rent_game) %></td>
        <td><%= link_to 'Destroy', rent_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rent Game', new_rent_game_path %>
