<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @rent_game.game %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @rent_game.rent %>
</p>

<p>
  <strong>Week:</strong>
  <%= @rent_game.week %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @rent_game.subtotal %>
</p>

<%= link_to 'Edit', edit_rent_game_path(@rent_game) %> |
<%= link_to 'Back', rent_games_path %>
