<div class="container container-index-address">
  <header class="title has-text-centered">Endereço para Entrega</header>
  <div class="columns is-multiline">
    <% @addresses.each do |address| %>
      <div class="column column-address">
        <div class="box box-address">
          <div class="level"><strong>CEP:</strong><%=address.cep %></div>
          <div class="level"><strong>Endereço:</strong><%=address.address %></div>
          <div class="level"><strong>Bairro:</strong><%=address.district %></div>
          <div class="level"><strong>Cidade:</strong><%=address.city %></div>
          <div class="level"><strong>Complemento:</strong><%=address.complement %></div>
          <div class="level">
            <%= link_to 'Selecionar', set_address_path(:address_id => address.id), class:'button is-warning is-fullwidth is-medium', method: :post %>
          </div>
        </div>
      </div>
    <%end %>
  </div>
</div>