<div class="container">
  <header class="title has-text-centered">Confirmação de Aluguel</header>
  <div class="columns">
    <div class="column is-three-fifths">
      <table class="table is-striped is-hoverable is-narrow is-fullwidth">
        <thead>
        <tr>
          <th>Capa</th>
          <th>Nome</th>
          <th>Valor do Alguel</th>
          <th>Semana(s)</th>
          <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
          <% @rent.rent_games.each do |item| %>
            <tr class="row-list-game">
              <td class="td"><figure class="image is-64x64"><%=image_tag(item.game.image.to_s) %></figure></td>
              <td class="td"><%=item.game.name %></td>
              <td class="td"><%=number_to_currency(item.game.rentPrice, unit: "R$", separator: ",", delimiter:"") %></td>
              <td class="td"><%=item.week %></td>
              <td class="td"><%=number_to_currency(item.subtotal, unit: "R$", separator: ",", delimiter:"") %></td>
            </tr>
          <%end %>
        </tbody>
      </table>
    </div>
    <div class="column is-centered">
      <div class="level"><strong>CEP:</strong><%=@rent.address.cep %></div>
      <div class="level"><strong>Endereço:</strong><%=@rent.address.address %></div>
      <div class="level"><strong>Bairro:</strong><%=@rent.address.district %></div>
      <div class="level"><strong>Cidade:</strong><%=@rent.address.city %></div>
      <div class="level"><strong>Complemento:</strong><%=@rent.address.complement %></div>
      <hr/>
      <div class="level"><strong>Total:</strong><%=number_to_currency(@rent.totalValue, unit: "R$", separator: ",", delimiter:"") %></div>
      <%=link_to 'Confirmar', rent_confirmation_path, class:'button is-success is-fullwidth', method: :post %>
    </div>
  </div>
</div>