<div class="container container-index-rent">
  <header class="title has-text-centered">Lista de Aluguéis Realizados</header>
  <table class="table is-striped is-hoverable is-narrow is-fullwidth">
    <thead>
    <tr>
      <th>#</th>
      <th>Valor Total</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td class="td"><%=rent.id %></td>
        <td class="td"><%=number_to_currency(rent.totalValue, unit: "R$", separator: ",", delimiter:"")%></td>
        <td class="td">
          <div class="buttons are-normal">
            <%=link_to rent_path(rent), class:'button is-info' do%>
              <span class="icon">
                <i class="far fa-eye"></i>
              </span>
              &nbsp;&nbsp;Detalhes
            <%end %>
          </div>
        </td>
      </tr>
    <%end %>
    </tbody>
  </table>
</div>