<div class="container">
  <header class="title has-text-centered">Detalhes do Aluguel</header>
  <br>
  <div class="columns">
    <div class="column is-three-fifths">
      <table class="table is-striped is-hoverable is-narrow is-fullwidth">
        <thead>
        <tr>
          <th>Capa</th>
          <th>Nome</th>
          <th>Valor do Alguel</th>
          <th>Semana(s)</th>
          <th>Subtotal</th>
        </tr>
        </thead>
        <tbody>
          <%@rent.rent_games.each do |item| %>
            <tr class="row-list-game">
              <td class="td"><figure class="image is-64x64"><%=image_tag(item.game.image.to_s) %></figure></td>
              <td class="td"><%=link_to item.game.name, games_path(item.game), class: 'button is-link' %></td>
              <td class="td"><%=number_to_currency(item.game.rentPrice, unit: "R$", separator: ",", delimiter:"")%></td>
              <td class="td"><%=item.week %></td>
              <td class="td"><%=number_to_currency(item.subtotal, unit: "R$", separator: ",", delimiter:"")%></td>
            </tr>
          <%end %>
          <tr>
            <th>Total do Aluguel:</th>
            <th></th>
            <th></th>
            <th></th>
            <th><%=number_to_currency(@rent.totalValue, unit: "R$", separator: ",", delimiter:"")%></th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column is-centered">
      <div class="level"><strong>CEP:</strong><%=@rent.address.cep %></div>
      <div class="level"><strong>Endereço:</strong><%=@rent.address.address %></div>
      <div class="level"><strong>Bairro:</strong><%=@rent.address.district %></div>
      <div class="level"><strong>Cidade:</strong><%=@rent.address.city %></div>
      <div class="level"><strong>Complemento:</strong><%=@rent.address.complement %></div>
    </div>
  </div>
</div>