<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Nome' , class:'label', for: 'name'%>
    <div class="control">
      <%= form.text_field :name , class:'input', id: 'name', required:'true'%>
    </div>
  </div>

  <div class="field">
    <%= form.label 'Preço para aluguel', class: 'label', for: 'rentPrice'%>
    <p class="control">
      <%= form.text_field :rentPrice, class: 'input', id: 'rentPrice', placeholder:"Padrão Americanos 0.00", required: 'true'%>
    </p>
  </div>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <%= form.label 'Categoria', class: 'label', for: 'category' %>
        <div class="control">
          <div class="select">
           <%= collection_select(:game, :category_id, @categories, :id, :name, {}, {id: 'category' }) %>
          </div>
        </div>
      </div>
      <div class="field">
        <%= form.label 'Capa do Jogo', class:'label'%>
        <div class="file">
          <label class="file-label">
            <%= form.file_field :image, class:'file-input', onchange:'inputFileName()', id:"image" %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Escolha uma imagem
              </span>
               </span>
              <span class="file-name" id="file-name" style="display: none">
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label 'Descrição', class: 'label', for: 'description' %>
    <div class="control">
      <%= form.text_area :description, class:'textarea', id:'description', required:'true', placeholder:'Description the game'%>
    </div>
  </div>

  <div class="actions">
    <div class="control">
      <%= form.submit class: 'button is-success is-fullwidth'%>
    </div>
  </div>
<% end %>
