<div class="container container-form-game">
<header class="title has-text-centered">Editar Jogo</header>
  <%= render 'form', game: @game %>
</div>

<!--<%#= link_to 'Show', @game %> |-->
<%#= link_to 'Back', games_path %>
