<div class="container container-index">
  <div class="columns is-multiline">
    <% @games.each do |game| %>
      <%#if @game.user.id != current_user.id || current_user == nil %>
        <div class="column column-game">
          <div class="box box-game">
            <div class="level has-text-centered">
              <%=link_to game.name, game_path(game), class:'title is-6 title-game' %>
            </div>
            <div class="level">
              <figure class="image is-90x64">
                <%=image_tag(game.image.to_s) %>
              </figure>
            </div>
          </div>
        </div>
      <%#end %>
    <% end %>
  </div>
</div>

<!--<br>-->

<%#= link_to 'New Game', new_game_path %>
