<div class="container">
  <header class="title has-text-centered">Meus Jogos <%=link_to new_game_path, class:'button is-success' do %>
      <span class="icon">
        <i class="fas fa-plus-circle"></i>
      </span>
    <%end %>
  </header>
<table class="table is-striped is-hoverable is-narrow is-fullwidth">
    <thead class="has-centered">
      <tr>
        <th class="has-centered">Capa</th>
        <th class="has-centered">Nome</th>
        <th class="has-centered">Valor do Aluguel</th>
        <th class="has-centered">Categoria</th>
        <th class="has-centered">Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr class="row-list-game">
          <td class="td">
            <figure class="image is-64x64"><%= image_tag(game.image.to_s) %></figure>
          </td>
          <td class="td"><%=game.name %></td>
          <td class="td"><%=number_to_currency(game.rentPrice, unit: "R$", separator: ",", delimiter:"")%></td>
          <td class="td"><%=game.category.name %></td>
          <td class="td">
            <div class="buttons are-normal">
            <%= link_to game, class:'button is-info' do %>
                <span class="icon">
                  <i class="fas fa-info-circle"></i>
                </span>
              <%end %>
              <%= link_to edit_game_path(game), class: 'button is-warning' do %>
                <span class="icon">
                  <i class="fas fa-edit"></i>
                </span>
              <%end %>
              <%= link_to game, method: :delete, data: {confirm: 'Are you sure?'}, class: 'button is-danger' do %>
                <span class="icon">
                  <i class="far fa-times-circle"></i>
                </span>
              <%end %>
            </div>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>