
<div class="container container-show-game">
  <p id="notice"><%= notice %></p>
  <div class="columns">
    <div class="column">
      <figure class="image">
        <%=image_tag(@game.image.to_s) %>
      </figure>
    </div>
    <div class="column">
      <div class="level">
        <p><strong>Nome: </strong> <%= @game.name %></p>
      </div>
      <div class="level">
        <p><strong>Descrição: </strong><%= @game.description %></p>
      </div>
      <div class="level">
        <p><strong>Categoria: </strong><%= @game.category.name %></p>
      </div>
      <%if @game.user.id != current_user.id && @game.status != false%>
        <div class="level">
          <strong><label for="semana">Semana(s): </label></strong>
          <%= form_for @rent_games do |f| %>
            <%= f.hidden_field :game_rent ,value: @game.rentPrice, id:'rentPrice' %>
            <%= f.hidden_field :game_id, value: @game.id %>
            <%= f.number_field :week, class:'input', min: 1, id:'semana', onchange:'valorAluguel()' %>
          </div>
          <div class="level">
            <p><strong>Valor: </strong><span id="valor"><%=number_to_currency(@game.rentPrice, unit: "R$", separator: ",", delimiter:"")%></span></p>
          </div>
          <div class="level">
            <%= f.submit "Adicionar ao Carrinho", class:'button is-normal is-success is-fullwidth'%>
          <%end %>
        </div>
      <%end %>
    </div>
  </div>
</div>

<!--<%#= link_to 'Edit', edit_game_path(@game) %> |-->
<%#= link_to 'Back', games_path %>
