<div class="container">
  <%if @rent_games.any? %>
    <table class="table is-striped is-hoverable is-narrow is-fullwidth">
      <thead>
      <tr>
        <th class="is-centered">Capa</th>
        <th class="has-centered">Name</th>
        <th class="has-centered">Preço do Aluguel</th>
        <th class="has-centered">Semana(s)</th>
        <th class="has-centered">Subtotal</th>
        <th class="has-centered">Opções</th>
      </tr>
      </thead>
      <tbody>
      <% @rent_games.each do |item| %>
        <tr class="row-list-game">
          <td class="td"><figure class="image is-64x64"><%=image_tag(item.game.image.to_s) %></figure></td>
          <td class="td"><%=item.game.name %></td>
          <td class="td"><%=number_to_currency(item.game.rentPrice, unit: "R$", separator: ",", delimiter:"") %></td>
          <td class="td"><%=item.week %></td>
          <td class="td"><%=number_to_currency(item.subtotal, unit: "R$", separator: ",", delimiter:"")%></td>
          <td class="td">
            <div class="buttons are-normal">
              <%=link_to '/games/' + item.game.id.to_s, class:'button is-info' do%>
                <span class="icon">
                  <i class="far fa-eye"></i>
                </span>
              <%end %>
              <%=link_to rent_game_path(item), class:'button is-danger', method: :delete  do%>
                <span class="icon">
                  <i class="far fa-times-circle"></i>
                </span>
              <%end %>
            </div>
          </td>
        </tr>
        <%end %>
        <tr>
          <td>Total: <%=number_to_currency(current_rent.totalValue, unit: "R$", separator: ",", delimiter:"")%></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= link_to "Confirmar Aluguel", rents_addressToRent_path, class: 'button is-warning' %></td>
        </tr>
      </tbody>
    </table>
  <%else %>
    <header class="title has-text-centered">Seu carrinho está vazio!</header>
  <%end %>
</div>