<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <%= form.label 'CEP', class:'label',for:'cep' %>
        <p class="control">
          <%= form.text_field :cep, class:'input', id:'cep', autofocus:'true' %>
        </p>
      </div>
      <div class="field">
        <%= form.label 'Endereço', class:'label', for:'address' %>
        <p class="control">
          <%= form.text_field :address, class:'input', id:'address' %>
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <%= form.label 'Bairro', class:'label', for:'district' %>
        <p class="control is-expanded">
          <%= form.text_field :district, class:'input', id:'district' %>
        </p>
      </div>
      <div class="field">
        <%= form.label 'Cidade', class:'label', for:'city'%>
        <p class="control is-expanded">
          <%= form.text_field :city, class:'input', id:'city' %>
        </p>
      </div>
    </div>
  </div>
  <div class="field">
    <%= form.label 'Complemento', class:'label', for:'complement' %>
    <p class="control has-icons-left">
      <%= form.text_field :complement, class:'input', id:'complement' %>
    </p>
  </div>
  <div class="field">
    <div class="control">
      <%= form.submit class:'button is-success is-fullwidth' %>
    </div>
  </div>
<%end %>