<div class="container container-form-address">
  <header class="title has-text-centered">Cadastro de Endereço</header>
  <%= render 'form', address: @address %>
</div>

<!--<%#= link_to 'Show', @address %> |-->
<%#= link_to 'Back', addresses_path %>
