<div class="container container-index-address">
  <header class="title has-text-centered">Lista de Endereços
    <%= link_to new_address_path, class: 'button is-success' do%>
      <span class="icon">
        <i class="fas fa-plus-circle"></i>
      </span>
    <%end %>
  </header>
  <div class="columns is-multiline">
    <% @addresses.each do |address| %>
      <div class="column column-address">
        <div class="box box-address">
          <div class="level"><strong>CEP:</strong><%=address.cep %></div>
          <div class="level"><strong>Endereço:</strong><%=address.address %></div>
          <div class="level"><strong>Bairro:</strong><%=address.district %></div>
          <div class="level"><strong>Cidade:</strong><%=address.city %></div>
          <div class="level"><strong>Complemento:</strong><%=address.complement %></div>
          <div class="buttons are-normal is-centered">
            <%= link_to 'Editar', edit_address_path(address), class:'button is-warning' %>
            <%= link_to 'Deletar', address, class:'button is-danger' ,method: :delete, data: { confirm: 'Tem certeza?' } %>
          </div>
        </div>
      </div>
    <%end %>
  </div>
</div>

<%#= link_to 'New Address', new_address_path %>
