.navbar {
  height: 100px !important;
}

.container-index-game {
  width: 875px !important;
  /* margin-top: 20px; */
}

.container-index-category {
  width: 400px !important;
}

.container-index-rent {
  width: 500px !important;
}

.container-form-address {
  width: 500px;
}

.container-form-category {
  width: 600px !important;
}
.container-form-user {
  width: 400px !important;
}

.navbar {
  opacity: 30% !important;
}

.row-list-game {
  height: 125px;
}

.container-form-game {
  width: 500px;
}

.container-list-rent {
  width: 600px;
}

.container-show-game {
  width: 735px;
}

td {
  vertical-align: middle !important;
}

.box-game {
  width: 200px !important;
}

.box-address
{
  width: 300px;
}

.column-game {
  flex-grow: inherit !important;
}

.column-address {
  flex-grow: inherit !important;
}

.title-game {
  width: 100%;
  height: 20px;
}