<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field ">
      <%= form.label :name, for:'category', class:'label'%>
      <p class="control has-icons-le">
        <%= form.text_field :name, id:'category', class:'input', placeholder:'Category Input', required:'' %>
      </p>
    </div>
    <div class="field">
      <div class="control">
        <%= form.submit class:'button is-success is-medium is-fullwidth' %>
      </div>
    </div>
<% end %>
