<h1>Editing Category</h1>
<div class="container container-form-category">
  <header class="title has-text-centered">Edição de Categoria</header>
  <%= render 'form', category: @category %>
</div>

<%#= link_to 'Show', @category %>
<%#= link_to 'Back', categories_path %>
