<p id="notice"><%= notice %></p>

<div class="container container-index-category">
  <header class="title has-text-centered">Lista de Categorias <%=link_to new_category_path, class:"button is-success" do%>
      <span class="icon">
        <i class="fas fa-plus-circle"></i>
      </span>
    <%end %>
  </header>
  <table class="table is-striped is-hoverable is-narrow is-fullwidth">
    <thead class="has-centered">
    <tr>
      <th class="has-centered">#</th>
      <th class="has-centered">Category</th>
      <th class="has-centered">Options</th>
    </tr>
    </thead>
    <tbody>
      <%@categories.each do |category| %>
        <tr>
          <td class="td"><%=category.id %></td>
          <td class="td"><%=category.name %></td>
          <td class="td">
            <div class="buttons are-normal">
              <%=link_to edit_category_path(category), class:'button is-warning' do %>
                <span class="icon">
                  <i class="fas fa-edit"></i>
                </span>
              <%end %>
              <%=link_to category, method: :delete, data:{confirm: 'Are you sure?'}, class:'button is-danger'  do%>
                <span class="icon">
                  <i class="far fa-times-circle"></i>
                </span>
              <%end %>
            </div>
          </td>
        </tr>
      <%end %>
    </tbody>
  </table>
</div>

<%#= link_to 'New Category', new_category_path %>
