<div class="container container-form-category">
  <header class="title has-text-centered">Cadastro de Categoria</header>
  <%= render 'form', category: @category %>
</div>

<%#= link_to 'Back', categories_path %>
