<div class="container container-form-user">
  <header class="title has-text-centered">Editar Conta</header>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class:'label' %><br />
      <p class="control has-icons-left has-icons-left">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input' %>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, class:'label' %>
      
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      <p class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "new-password", class:'input' %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class:'label' %><br />
      <p class="control has-icons-left">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'input' %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <%= f.label :current_password, class:'label' %> <i>(we need your current password to confirm your changes)</i><br />
      <p class="control has-icons-left">
        <%= f.password_field :current_password, autocomplete: "current-password", class:'input' %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="actions">
      <%= f.submit "Update", class:'button is-info is-medium is-fullwidth' %>
    </div>
  <% end %>

  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'button is-danger is-medium is-fullwidth' %>
  
  <%= link_to "Back", games_path, class:'button is-light is-medium is-fullwidth' %>

</div>