<div class="container container-form-user">
  <header class="title has-text-centered">Sign Up</header>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :name, class:'label', for:'email' %>
      <p class="control has-icons-left has-icons-left">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class:'input' %>
        <span class="icon is-small is-left">
          <i class="fas fa-font"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <%= f.label :email, class:'label' %>
      <p class="control has-icons-left has-icons-left">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input' %>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field ">
      <%= f.label :password, class:'label'%>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <p class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "new-password", class:'input' %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field ">
      <%= f.label :password_confirmation, class:'label' %>
      <p class="control has-icons-left">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'input' %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>

    <div class="field">
      <div class="control">
        <%= f.submit "Sign up", class:'button is-success is-medium is-fullwidth' %>
      </div>
    </div>
  <%end %>
</div>

<%#= render "users/shared/links" %>
